html {
    background-color: black;
    color: rgba(255, 255, 255, 0.75);
    font-styles: Helvetica, sans-serif;
}

h1 {
    color: rgba(255, 255, 255, 0.8);
    padding-top: 20%;
    text-align: center;
}

a {
    color: rgb(153, 221, 255);
    text-align: center;
}
